@font-face {
	font-family: "Leelawadee UI" ;
	src: url("../font/Leelawadee/LeelawUI.ttf");
}

@font-face {	
	font-family: "Leelawadee UI Bold" ;
	src: url("../font/Leelawadee/leelawdb_0.ttf");
}

*{
	box-sizing: border-box;
	
}

body{
	overflow-x:hidden;
}

#cerrarsesion{
	margin-right: 55px;
}

.toolbar {
	text-align: right;
	font-size: 2rem;
	right: 25px;
	left: 50px;
	color: #fff;
	font-weight: bold;
	background: #003a6a;
}

.container-full{
	background: #004a87;
	border-bottom: 2px solid #c08e2d;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #fff;	
}

.card-body{
	text-align: center;
}

.sincolor{
	filter: grayscale(100%);
}

div[class^="col"]:nth-child(2) span{
	font-weight: bold;
	font-size: 30px;
}

div[class^="col"]:nth-child(2) h4{
	margin-top: 20px;
}

div[class^="col"]:nth-child(3) h4{
	text-align:center;
	font-size: 40px;
	margin-top: 20px;
}

div[class^="col"]:nth-child(3) p{
	text-align:center;
	font-size: 20px;
	margin-top: -25px;
}

div[class^="col"]:nth-child(3) span{
	font-weight: bold;
}
.row{
	padding: 1em 0;
}

#crear{
	  font: 6vmin "Verdana";
	  color: white;
	  text-align: center;
	  padding-top:25px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.list-group{
	padding: 270px;
	margin-top: -200px;

}

.dropdown-menu{
	position: absolute;
    right: 0;
	left: auto;
	width:250px;
	text-align: center;
}
	
.dropdown-menu img{
	border-radius: 50%;
	width: 90px;
}

.row-container p{
	font-size:30px;
	color: white;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #ADC4F2;
    border: 8px solid #10083B !important;
    border-radius: 20px 20px 20px 20px !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color:#A60707 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}