.form-signin{
    margin: auto;
    padding: 60px;
    box-sizing: border-box;
    background: #343a40;
    margin-top: 50px;
    border-radius: 4px;
    color: white;
    margin-bottom: 50px;
    border-radius: 2%;
    box-shadow: 7px 13px 30px #343a40;
}

footer{
    background-color: #202427; 
    color: white; 
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    text-size-adjust: 100%;
}

#container1{
    width: 70%;
}

#container2{
    width: 30%;
}

#crear{
    text-align: center;
}

button{
    font-size: 1rem !important;
    width: 100%;
}

.current{
    margin-left: 40px;
    font-size: 1.5rem;
}

.timer{
    margin-left: 40px;
    font-size: 2rem;
}

.serie{
    padding-top: 30px;
    margin-left: 60px !important;
    font-size: 2rem;
    color: white;
}
